body,
html {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
* {
  box-sizing: border-box;
}

button {
  padding: 1rem;
  font-size: xx-large;
  border-radius: 5px;
  border: none;
  background: linear-gradient(rgb(105, 0, 0) 0%, rgb(39, 0, 0) 100%);
  color: red;
}

button:hover {
  filter: brightness(2);
}

.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}
