body,
html {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
* {
  box-sizing: border-box;
}

.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}
